*{
    font-family: "Nexa";
}
@font-face {
    font-family: "Nexa";
    src: url("./fonts/nexaregular.otf");
    font-weight: 400;
    font-style: normal;    
}

h2{
    font-size: 40px;
    color: rgb(219, 219, 219);
    margin: 0;
}

body{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 33, 33);
}

.divPai{
    width: 150vh;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgba(134, 111, 163, 0.2);
    padding: 40px 10px 40px 10px;
    margin-top: 20px;
    border-radius: 20px;
    gap: 20px;
}

.divBotoes{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: rgb(212, 206, 206);
    background: linear-gradient(90deg, rgb(139, 67, 221) 35%, rgb(28, 42, 172) 100%);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}