*{
    font-family: Verdana;
}

html{
    background: rgb(106, 110, 109);
}

.divPai{ 
    height: 150vh;
    width: 100vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dadosAluno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    background-color: palegoldenrod;
    border-radius: 5px;
}

.dadosHobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: palegoldenrod;
    border-radius: 5px;
}

.dadosExtras{
    width: 50vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: palegoldenrod;
    border-radius: 5px;

    h2{
        justify-content: center;
        align-items: center;
    }
    img{
        width: 150px;
    }

    p{
        font-size: 12px;
    }
}

.exercicios{
    width: 50vh;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: palegoldenrod;
    border-radius: 5px;
    gap: 10px;
}

.imagem{
    width: 120px;
    height: 180px;
}