*{
    font-family: "Nexa";
}

@font-face {
    font-family: "Nexa";
    src: url("fonts/nexaregular.otf");
    font-weight: 400;
    font-style: normal;    
}

body{
    background: rgb(45, 46, 46);
}

#background #video{
    margin-top: 0;
    position: fixed;
    right: 0;
    left: 0;
    min-width: auto;
    min-height: auto;
    height: auto;
    width: auto;
    opacity: 100%;
    z-index: -1;
}

.divPai{
    height: auto;
    width: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dadosAluno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: rgb(154, 112, 194);
    border-radius: 5px;

    h1{
        margin: 0 0 0 0;
        line-height: 30px;
    }
    p{  
        text-align: center;
        margin: 0;
        height: 25%;
        margin-bottom: 5px;
        color: rgba(224, 221, 228, 0.849);
    }
    img{
        width: 26px;
        height: 25px;
    }
    .titleAluno{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0 20px 0;
        gap: 8px;
    }
}

.dadosHobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: rgb(154, 112, 194);
    border-radius: 5px;

    h3{
        font-size: 30px;
        margin: 10px ;
    }
    ol{
        margin-block-start: 0px; 
        margin-block-end: 0px;
        margin-bottom: 20px;
        color: rgba(224, 221, 228, 0.849);
    }
    img{
        width: 30px;
        height: 30px;
    }
    .titleHobbies{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0 10px 0;
        gap: 2px;
    }
    .gifGato img{
        width: 160px;
        height: 160px;
        padding: 0 0 0 60px;
    }
    .containerLado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 200px;
        gap: 10px;
    }
}

.likes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: rgb(154, 112, 194);
    border-radius: 5px;
    gap: 15px;
    padding: 40px 0 40px 0;

    h3{
       font-size: 30px;
       margin: 10px;
    }
    p{  
        display: flex;
        justify-content: center;
        font-size: 90%;
        margin: 3px 0 8px 0;
        color: rgba(224, 221, 228, 0.849);
    }
    img{
        width: 25px;
        height: 25px;
    }
    .titleLikes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0 0 0;
        gap: 2px;
    }
    .like{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 150px;
        background-color: rgba(122, 72, 170, 0.966);
        border-radius: 5px;
        margin: 0 0 5% 0;
        padding-top: 5%;
    }
    
    

    /* TAMANHO DAS IMAGENS */
    .imagem1{
        width: 120px;
        height: 120px;
    }

    .imagem2{
        width: 120px;
        height: 120px;
    }

    .imagem3{
        width: 130px;
        height: 110px;
    }
}

.sociais{
    width: 40%;
    height: 30%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 112, 194);
    border-radius: 5px;
    gap: 8px;

    .blockSociais{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40px;
        width: 140px;
        background-color: rgba(122, 72, 170, 0.966);
        border-radius: 5px;
        
    }
    .github, .linkedin{
        text-align: center;
        color: rgba(224, 221, 228, 0.849);
        text-decoration: none;
        border-radius: 5px;
        line-height: 40px;
    }

    img{
        width: 20px;
        height: 20px;
    }
}

.exercicios{
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 112, 194);
    border-radius: 5px;
    gap: 8px;
    padding: 40px 0 40px 0;

    button{
        height: 50px;
        width: 130px;
        border: none;
        border-radius: 5px;
        color: rgba(224, 221, 228, 0.849);
        cursor: pointer;
        background-color: rgba(122, 72, 170, 0.966);
    }
}